.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h2 {
    font-family: 'Heebo', sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 100;
    font-size: 3rem;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    background-color: rgb(54, 0, 96);
}

a:link, a:visited { 
    color: #fff;
    text-decoration: none;
    transition: .2s ease;
    text-transform: lowercase;
    padding: 8px 16px;
}

a:link:active, a:visited:active, a:hover { 
    background-color: #fff;
    color: rgb(54, 0, 96);
}

main {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -250px;
    text-align: center;
}

.me {
    margin: auto;
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
}

nav a {
    margin: 0 10px 10px 10px;
    padding-bottom: 4px;
    display: inline-block;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 1.2rem;
    }
    main {
        left: 0;
        margin-left: 0;
    }
}

@media screen and (max-height: 450px) {
    main {
        top: 0;
        margin-top: 0;
    }
}