.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a { 
    color: rgb(119, 132, 149);
    text-decoration: none;
    transition: .1s ease;
    margin: 1rem;
    display: inline-block;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: rgb(19, 32, 49);
}

main {
    text-align: center;
}

.me {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 30rem;
}
