::selection { 
    background: rgba(255, 255, 0, 0.4);
}

html {
    min-height: 100%;
    cursor: crosshair;
}

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

header h1 {
    font-size: 8em;
    text-shadow: -.03em 0 red, .03em 0 cyan;
    text-align: center;
    animation: fade-in .2s ease-in;
    margin: 0;
}

main p {
    font-size: 4em;
    text-align: center;
    animation: fade-in 1s ease-in;
    margin: 1.8em 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    animation: fade-in .2s ease-in;
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin: 0 .2em;
    font-size: 3em;
}

nav a {
    color: #000;
    text-shadow: -.04em 0 red, .04em 0 cyan;
    opacity: 0.5;
    transition: opacity .3s;
}

nav a:hover, nav a:focus {
    opacity: 1;
    outline: 0;
}

@media (max-width:1280px) {

    header h1 {
        font-size: 6em;
    }

    main p {
        font-size: 3em;
    }

    nav ul li {
        font-size: 2.4em;
    }
}

@media (max-width:480px) {

    header h1 {
        font-size: 4em;
        text-shadow: -.04em 0 red, .04em 0 cyan;
    }

    main p {
        font-size: 2em;
    }

    nav ul li {
        font-size: 1.8em;
        text-shadow: -.08em 0 red, .08em 0 cyan;
    }
}